<!DOCTYPE html >
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부트</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1>게시글 목록</h1>
    <div class="form-group input-group mt-3">
        <div class="form-control col-2" style="text-align: center;">카테고리</div>
        <div class="form-control col-9" th:text="${post.po_bo_name}" >
    </div> 
    <div class="form-group input-group mt-3">
        <div class="form-control col-2" style="text-align: center;">제목</div>
        <div class="form-control" th:text="${post.po_title}">
    </div> 
    <div class="form-group input-group mt-3">
        <div class="form-control col-2" style="text-align: center;">작성자</div>
        <div class="form-control" th:text="${post.po_me_id}">
    </div> 
    <div class="form-group input-group mt-3">
      <div class="col-2 form-control" style="text-align: center;">조회수</div>
      <div class="form-control" th:text="${post.po_view}" >
    </div>
    <div class="form-group input-group mt-3">
      <div class="form-control col-2" style="text-align: center;">추천/비추천</div>
      <div class="form-control" th:text="${post.po_up} + '/' + ${post.po_down}" >
    </div>
    <div class="form-group input-group mt-3">
        <div style="min-height: 400px;" class="form-control" th:utext="${post.po_content}"></div>
    </div> 
    <div>
      <a class="form-group mb-2"
        th:each="file : ${list}"
        th:href="@{/file{num}(num=${file.fi_name})}" 
        th:text="${file.fi_ori_name}"
        th:attr="download=${file.fi_ori_name}">
      </a>
    </div>
    <a th:href="@{/post/list/{num}(num=${post.po_bo_num})}" class="btn btn-outline-success">목록으로</a>
	</main>
</body>
</html>