<!DOCTYPE html >
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부트</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1>게시글 목록</h1>
    
    <span th:text="${post}"></span>
    
      <div class="form-group mt-3">
        <label for="title">카테고리(고치셈)</label>
        <input class="form-control" th:attr="value=${post.po_bo_num}" readonly>
      </div> 
      <div class="form-group mt-3">
        <label for="title">제목</label>
        <input class="form-control" th:attr="value=${post.po_title}" readonly>
      </div> 
      <div class="form-group mt-3">
        <label for="title">내용</label>
        <div style="min-height: 400px;" class="form-control" readonly th:text="${post.po_content}"></div>
      </div> 
      <div class="form-group mt-3">
        <label for="title">작성자</label>
        <input class="form-control" th:attr="value=${post.po_me_id}" readonly>
      </div> 
      <div class="form-group mt-3">
        <label for="title">조회수</label>
        <input class="form-control" th:attr="value=${post.po_view}" readonly>
      </div>
      <!-- <div class="form-group mt-3">
        <label for="title">추천/비추천</label>
        <input class="form-control" th:attr="value='${post.po_up}' / '${post.po_down}'" readonly>
      </div>  -->
      
      
    
    
	</main>
</body>
</html>